.btn {
	border: none;
	border-radius: 28px;
	background-color: rgb(40, 176, 166);
	color: white;
	width: 104px;
	height: 48px;
	cursor: pointer;
	transition: 0.2s all;
	font-size: 20px;
	&:hover {
		background-color: rgb(41, 136, 129);
	}
	&_ghost {
		color: black;
		background-color: white;
		&:hover {
			background-color: rgb(236, 236, 236);
		}
	}
}
