.destinations {
	margin: 0 auto;
	margin-top: 200px;
	width: 80%;
	&__title {
		font-size: 40px;
	}
	&__subtitle {
		font-size: 24px;
		color: rgb(84, 97, 121);
		font-weight: 400;
	}

	&__photos {
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(4, 0.5fr);
		grid-template-rows: repeat(2, 350px);
		place-content: center;
		column-gap: 20px;
		row-gap: 15px;
		grid-template-areas:
			"el1 el2 el3 el3"
			"el4 el2 el5 el5";
	}
	&__photo {
		padding: 30px;
		border-radius: 32px;
		background: palevioletred;
		.info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			&__text {
				margin-top: auto;
			}
			&__title {
				font-size: 24px;
				color: white;
			}
			&__subtitle {
				font-size: 16px;
				font-weight: 400;
				color: white;
			}
			&__counter {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: rgb(254, 242, 222);
				border-radius: 16px;
				width: 60px;
				height: 30px;
				color: rgb(245, 166, 35);
			}
		}
	}

	.el1 {
		grid-area: el1;
		background: url("../img/grid1.png") no-repeat;
	}
	.el2 {
		grid-area: el2;
		background: no-repeat url("../img/grid2.png");
	}
	.el3 {
		grid-area: el3;
		background: no-repeat url("../img/grid3.png");
	}
	.el4 {
		grid-area: el4;
		background: no-repeat url("../img/grid4.png");
	}
	.el5 {
		grid-area: el5;
		background: no-repeat url("../img/grid5.png");
	}
}
