.promo {
	position: relative;
	margin-top: 150px;
	&__block {
		padding: 100px;
		border-radius: 32px;
		width: 80%;
		margin: 0 auto;
		background: no-repeat url("../img/Photo.jpeg");
		height: 600px;
	}

	&__subtitle {
		color: white;
		font-size: 36px;
	}

	&__title {
		color: white;
		font-size: 128px;
	}
	.text {
		color: white;
	}
	&__info {
		margin-top: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__payment {
		&__container {
			display: flex;
			gap: 10px;
			align-items: center;
		}
	}

	&__book {
		text-align: center;
		color: white;
		text-decoration: underline;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 64px;
		width: 64px;
		border-radius: 100%;
		background-color: #fff;
	}

	&__arrows {
		margin-top: 20px;
		display: flex;
		gap: 10px;
		div {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			border-radius: 100%;
			border: 1px solid white;
		}
	}

	&__block2 {
		width: 50%;
		bottom: -100px;
		left: 25%;
		position: absolute;
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 30px;
		background-color: #fff;
		padding: 30px;
		border-radius: 16px;
		box-shadow: 0px 43px 66px 0px rgba(0, 0, 0, 0.07);
		ul {
			display: flex;
			list-style-type: none;
			gap: 30px;
			li {
				.block2__wrapper {
					display: flex;
					align-items: center;
					gap: 30px;
				}
				h2 {
					font-size: 28px;
				}
				h3 {
					font-size: 18px;
					color: rgb(153, 163, 173);
					text-decoration: underline;
				}
			}
		}

		.btn__wrapper {
			button {
				width: 112px;
				height: 112px;
				border-radius: 16px;
			}
			h4 {
				margin-top: 5px;
				text-align: center;
				font-weight: 400;
				font-size: 12px;
			}
		}
	}
}
