@import "./header";
@import "./btns.scss";
@import "./promo";
@import "./tours";
@import "./destinations";
@import "./footer";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
